* {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans';
	box-sizing: border-box;
}
body {
	min-height: 100vh;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/JosefinSans-Medium.woff2) format('woff2'),
        url(fonts/JosefinSans-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/JosefinSans-Bold.woff2) format('woff2'),
        url(fonts/JosefinSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
#container {
	padding: 0 32px;
	overflow: hidden;
}
.active {
	opacity: 1 !important;
}
.hide {
	display: none;
}
.balance {
	margin-top: 56px;
	margin-bottom: 32px;
}
.value {
	font-size: 64px;
	font-weight: 500;
	text-align: center;
	color: #1C1C1C;
}
.header-title {
	font-size: 16px;
	text-align: center;
	color: #757575;
	margin-top: -8px;
}
.title {
	font-size: 16px;
	text-align: center;
	color: #757575;

}
.account {
	display: flex;
	margin-bottom: 32px;
}
.income-total {
	font-size: 32px;
	text-align: center;
	color: #6B3054;
}
.expense-total {
	font-size: 32px;
	text-align: center;
	color: #EF8907;
}
.toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 38px;
	background: #F1F2F3;
	border-radius: 8px;
	margin-bottom: 16px;
}
.tab1, .tab2, .tab3 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #1C1C1C;
	padding: 16px;
	cursor: pointer;
}
.entry-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.entry {
	font-weight: 700;
	margin-right: 
}
.edit-button {
	cursor: pointer;
}
.input {
	width: 100%;
}
.add-button {
	display: flex;
	justify-content: center;
}
.add-button img{
	cursor: pointer;
}
#image-container {
	display: flex;
	justify-content: center;
	margin-top: 64px;
}
.image-concept {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.image-concept img{
	max-width: 375px;
	outline: solid 2px rgb(240, 240, 240);
	margin-right: 32px;
	margin-bottom: 32px;
}
/* Modal */
.modal-container {
	background: rgba(100, 100, 100, 0.4);
	mix-blend-mode: normal;
	backdrop-filter: blur(2.5px);
	position: fixed;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	display: flex;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.modal-container.show {
	pointer-events: auto;
	opacity: 1;
}
.modal {
	background: #ffffff;
	height: 348px;
	width: 100vw;
	padding: 32px;
	position: fixed;
	bottom: 0;
	border-radius: 16px;
}
.modal-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	height: 54px;
}
.modal-title {
 	grid-column-start: 2;
}
.modal-header button{
	grid-column-start: 3;
	margin-left: auto;
	background: none;
	border: none;
}
.form-input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}
.form-input-group:nth-child(2) {
	margin-bottom: 48px;
}
.form-input-group label{
	margin-bottom: 8px;
}
.form-input-group input{
	height: 32px;
	background: #F5F5F5;
	border-radius: 8px;
	border: none;
}
.form-input-submit input{
	width: 100%;
	height: 40px;
	background: #6B3054;
	border: none;
	border-radius: 8px;
	color: white;
	font-weight: 700;
}

@media only screen and (orientation:portrait) {

}
@media only screen and (orientation:landscape) {

}
