* {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans';
	box-sizing: border-box;
}
body {
	min-height: 100vh;	
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/JosefinSans-Medium.woff2) format('woff2'),
        url(fonts/JosefinSans-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/JosefinSans-Bold.woff2) format('woff2'),
        url(fonts/JosefinSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
#container {
	padding: 0 32px;
	overflow: hidden;
}

.balance {
	margin-top: 56px;
	margin-bottom: 32px;
}
.value {
	font-size: 64px;
	font-weight: 500;
	text-align: center;
	color: #1C1C1C;
}
.header-title {
	font-size: 16px;
	text-align: center;
	color: #757575;
	margin-top: -8px;
}
.title {
	font-size: 16px;
	text-align: center;
	color: #757575;

}
.account {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 32px;
	height: 64px;
}
.income {
	margin-right: auto;
}
.expense {
	margin-left: auto;
}
.income-total {
	font-size: 32px;
	text-align: center;
	color: #6B3054;
}
.expense-total {
	font-size: 32px;
	text-align: center;
	color: #EF8907;
}
.chart {
	display: flex;
	justify-content: center;
}
.toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 38px;
	background: #F1F2F3;
	border-radius: 8px;
	margin-bottom: 24px;
}
.tab1, .tab2, .tab3 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #1C1C1C;
	padding: 16px;
	cursor: pointer;
	margin: 0 auto;
}
.entry-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.entry {
	font-weight: 700;
}
.list li {
	display: flex;
	justify-content: space-between;
}
.entry-buttons {
	display: flex;
}
#edit {
	height: 24px;
	width: 24px;
	background: url(img/edit.svg) no-repeat;
}
#delete {
	height: 24px;
	width: 24px;
	background: url(img/trash.svg) no-repeat;
	margin-left: 24px;
}
.input {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.add-btn {
	width: 100vw;
	padding: 32px;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
}
.add-btn img{
	cursor: pointer;
}
#image-container {
	display: flex;
	justify-content: center;
	margin-top: 64px;
}
.image-concept {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.image-concept img{
	max-width: 375px;
	outline: solid 2px rgb(240, 240, 240);
	margin-right: 32px;
	margin-bottom: 32px;
}
/* Modal */
.modal-container {
	background: rgba(100, 100, 100, 0.4);
	mix-blend-mode: normal;
	backdrop-filter: blur(2.5px);
	position: fixed;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	display: flex;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.modal-show {
	pointer-events: auto;
	opacity: 1;
	z-index: 1;
}
.modal {
	background: #ffffff;
	width: 100vw;
	padding: 32px;
	position: fixed;
	bottom: 0;
	border-radius: 16px;
	height: 318px;
}
.modal-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	height: 16px;
}
.modal-title {
	 grid-column-start: 2;
	 font-weight: 700;
}
.close {
	color: #2997fe;
}
.modal-header button{
	grid-column-start: 3;
	margin-left: auto;
	background: none;
	border: none;
}
.input-style {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 32px 0;
}
.input-style > div {
  display: flex;
  flex-direction: column;
}
.input-style > div > input {
  height: 32px;
  background: #F5F5F5;
  border: none;
  border-radius: 8px;
  padding-left: 8px;
}
.confirm-btn {
	padding: 16px 0;
	color: #ffffff;
	background: #6B3054;
	display: flex;
	justify-content: center;
	border-radius: 8px;
	cursor: pointer;
}



/* Function */
.active {
	opacity: 1 !important;
	color: #2997fe;
}
.hide {
	display: none;
}


@media only screen and (orientation:landscape) {

}